{% block form_row %}
    {% spaceless %}
        <div class="material-box">
            <div class="material-field">
                {{ form_widget(form) }}
                <div class="field-underline"></div>
                {{ form_label(form) }}
                <span>Wpisane hasło jest nieprawidłowe</span>
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}
