/* Material text field */
    .material-field {
        position: relative;
        width: 100%;
    }

    .material-field input,
    .material-field select {
        position: relative;
        z-index: 1;
        background-color: transparent;
        border: 0;
        outline: 0;
        padding: 10px 5px;
        width: 100%;
        color: #717171;
        border-bottom: 2px solid #c0c0c0;
        box-sizing: border-box;
    }

    .material-field label {
        position: absolute;
        left: 4px;
        top: 10px;
        font-size: 14px;
        color: #717171;
        transition: all 0.2s ease-in-out;
    }

    .field-underline {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #0099ff;
        z-index: 2;
        transform: scaleX(0);
        transition: transform 0.4s;
    }

    .material-field input:focus + .field-underline,
    .material-field select:focus + .field-underline {
        height: 2px;
        transform: scaleX(1);
    }

    .material-field input:focus ~ label,
    .material-field select:focus ~ label {
        color: #0099ff;
        top: -10px;
        font-size: 12px;
    }

    .material-field input:valid ~ label,
    .material-field select:valid ~ label {
        top: -10px;
        font-size: 12px;
    }

    .material-field span {
        display: none;
    }

    .wrong-field input,
    .wrong-field select {
        border-bottom: 2px solid #b00020!important;
    }

    .wrong-field input + .field-underline,
    .wrong-field select + .field-underline {
        display: none;
    }

    .wrong-field input:focus ~ label,
    .wrong-field select:focus ~ label {
        color: #b00020;
    }

    .wrong-field > span {
        display: block;
        color: #b00020;
        font-size: 12px;
        margin-top: 5px;
    }
/* Material text field */

/* Material buttons  */
    .material-button {
        position: relative;
        margin-top: 50px;
        margin-left: 100px;
        padding: 10px 15px;
        border: 0;
        outline: 0;
        text-decoration: none;
        border-radius: 4px;
        font-size: 13px;
        overflow: hidden;
        cursor: pointer;
        font-weight: bold;
        background-color: transparent;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
    }

    .text-button {
        color: #0099ff;
    }

    .outline-button {
        color: #0099ff;
        border: 1px solid #c0c0c0;
    }

    .contained-button {
        color: #fff;
        background-color: #0099ff;
    }

    .text-button:hover,
    .text-button:focus,
    .outline-button:hover,
    .outline-button:focus {
        background-color: #e3f3fe;
    }

    .contained-button:hover,
    .contained-button:focus {
        background-color: #38a8ff;
    }

    .material-btn-effect {
        position: relative;
        overflow: hidden;
    }

    .material-btn-effect::before {
        position: absolute;
        content: '';
        width: 120%;
        height: 120%;
        z-index: 101;
        left: 0;
        top: 15px;
        border-radius: 50%;
        background-color: #1f1f1f;
        opacity: 0.2;
        transform: scaleX(0);
        transition: transform 0.05s linear;
    }

    .material-btn-effect:active::before {
        transform: scale(2);
    }
/* Material buttons  */

/* Material box shadow */
    .material-lower-shadow {
        -webkit-box-shadow: 0 1px 2px 0 #717171;
        -moz-box-shadow: 0 1px 2px 0 #717171;
        box-shadow: 0 1px 2px 0 #717171;
    }

    .material-shadow {
        -webkit-box-shadow: 0 1px 3px 0 #717171;
        -moz-box-shadow: 0 1px 3px 0 #717171;
        box-shadow: 0 1px 3px 0 #717171;
    }
/* Material box shadow */

/* Material loader */
    .material-loader {
        position: relative;
        width: 100%;
        height: 5px;
        z-index: 99;
        overflow: hidden;
    }

    .material-loader-bar {
        height: 5px;
        width: 100%;
        background-color: #ff6600;
        opacity: 0.3;
    }

    .material-loader-effect {
        position: absolute;
        left: 0;
        top: 0;
        width: 30%;
        height: 5px;
        background-color: #ff6600;
        animation: loader-effect 1.8s infinite;
    }

    @keyframes loader-effect {
        from {
            left: -10%;
            width: 5%;
        }
        to {
            left: 110%;
            width: 100%;
        }
    }
/* Material loader */

/* Material click effect */
    .material-click-effect {
        cursor: pointer;
        padding: 7px 6px;
        border-radius: 100%;
        background-color: transparent;
        transition: background-color 0.1s ease-in-out;
    }

    .click-effect-silver:active {
        background-color: #c0c0c0;
    }

    .click-effect-blue:active {
        background-color: #0478dd;
    }
/* Material click effect */

/* Material floating icon */
    .position-fix-left {
        position: fixed;
        right: 35px;
        bottom: 35px;
    }

    .material-floating-button > a {
        padding: 15px 16px;
    }

    .material-floating-button > button {
        padding: 16px;
    }

    .material-floating-button > a,
    .material-floating-button > button {
        display: block;
        border: 0;
        background-color: #ff6600;
        text-decoration: none;
        outline: 0;
        border-radius: 100%;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        -webkit-box-shadow: 0 1px 2px 0 #717171;
        -moz-box-shadow: 0 1px 2px 0 #717171;
        box-shadow: 0 1px 2px 0 #717171;
    }

    .material-floating-button span {
        color: #fff;
        font-size: 16px;
    }

    .material-floating-button > a:hover,
    .material-floating-button > button:hover {
        background-color: #ff8700;
    }
/* Material floating icon */

/* Material box */
    .material-box {
        background-color: #fff;
        padding: 15px;
        margin-top: 20px;
        box-sizing: border-box;
        -webkit-box-shadow: 0 1px 3px 0 #717171;
        -moz-box-shadow: 0 1px 3px 0 #717171;
        box-shadow: 0 1px 3px 0 #717171;
    }

    .box-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .box-size-2 .material-box{
        width: 49%;
    }

    .box-size-3 .material-box{
        width: 32%;
    }

    .box-size-4 .material-box {
        width: 23.5%;
    }

    .box-size-70 {
        width: 70%;
        margin: 0px auto;
    }

    .material-heading {
        font-size: 16px;
        color: #717171;
        font-weight: normal;
        margin-bottom: 50px;
    }

    .material-box > p {
        margin: 0;
        font-size: 14px;
        color: #717171;
        text-align: left;
        width: 45%;
    }

    .material-box > p:first-child {
        color: #1f1f1f;
    }

    .material-box > span {
        width: 2%;
    }

    .material-box > a {
        color: #1f1f1f;
    }
/* Material box */

/* Material modal */
    .material-modal {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        width: 100%;
    }

    .material-modal::before {
        content: '';
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 998;
        background-color: rgb(0, 0, 0, 0.4);
    }

    .modal-box {
        position: absolute;
        z-index: 999;
        background-color: #fff;
        width: 330px;
        border-radius: 2px;
        padding: 20px 15px 10px 15px;
        min-height: 100px;
        -webkit-box-shadow: 0 1px 20px 0 #717171;
        -moz-box-shadow: 0 1px 20px 0 #717171;
        box-shadow: 0 1px 20px 0 #717171;
    }

    .mini-modal-content > h5 {
        margin: 0;
        font-size: 16px;
    }

    .mini-modal-content > p {
        margin-top: 20px;
        font-size: 12px;
        color: #717171;
    }

    .modal-button {
        display: flex;
        justify-content: flex-end;
    }

    .modal-button > button,
    .modal-button > a {
        margin: 0 0 0 5px;
        font-size: 12px;
    }
/* Material modal */