{% extends 'base.html.twig' %}
{% block title %}Usuwanie klienta{% endblock %}
{% block titleMenu %}Usuwanie klienta{% endblock %}

{% block body %}
    <section>
        <div class="container">

            <h2 class="material-heading">Klient {{ customer }} został usunięty!</h2>

        </div>
    </section>
{% endblock %}