{% extends 'base.html.twig' %}
{% block title %}Edycja klienta{% endblock %}
{% block titleMenu %}Edycja klienta{% endblock %}

{% block body %}
    <section>
        <div class="container">

            <h2 class="material-heading">Edycja klienta</h2>

        </div>
    </section>
{% endblock %}