{% extends 'base.html.twig' %}
{% block title %}Strona główna{% endblock %}

{% block body %}
    <section>
        <div class="container" data-title="index-menu">

            <div class="material-box box-flex box-size-70">
                <p>Nazwa użytkownika</p>
                <p>KrzychuuWEB</p>
                <span class="fas fa-angle-right fa-fw material-click-effect click-effect-silver"></span>
            </div>

        </div>
    </section>
{% endblock %}