{% extends 'base.html.twig' %}
{% block title %}Strona główna{% endblock %}

{% block body %}
    <section>
        <div class="container" data-title="index-menu">


        </div>
    </section>
{% endblock %}