{% extends 'base.html.twig' %}
{% block title %}Usuwanie stanowiska{% endblock %}
{% block titleMenu %}Usuwanie stanowiska{% endblock %}

{% block body %}
    <section>
        <div class="container">

            <h2 class="material-heading">Udało się usunąć stanowisko {{ positionDelete.name }}</h2>

        </div>
    </section>
{% endblock %}