{% extends 'base.html.twig' %}
{% block title %}Usuwanie samochodu{% endblock %}
{% block titleMenu %}Usuwanie samochodu{% endblock %}

{% block body %}
    <section>
        <div class="container">

            <h2 class="material-heading">Usuwanie samochodu [ BI 1234 ] powiodło się!</h2>

        </div>
    </section>
{% endblock %}