{% extends 'base.html.twig' %}
{% block title %}Przeglądanie samochodu{% endblock %}
{% block titleMenu %}Przeglądanie samochodu{% endblock %}

{% block body %}
    <section>
        <div class="container">

            <h2 class="material-heading">Przeglądanie samochodu</h2>

        </div>
    </section>
{% endblock %}