{% extends 'base.html.twig' %}
{% block title %}Edycja samochodu{% endblock %}
{% block titleMenu %}Samochód BWM 1234{% endblock %}

{% block body %}
    <section>
        <div class="container">

            <h2 class="material-heading">Samochód BWM 1234</h2>

        </div>
    </section>
{% endblock %}