{% extends 'base.html.twig' %}
{% block title %}Usuwanie użytkownika{% endblock %}
{% block titleMenu %}Usuwanie użytkownika{% endblock %}

{% block body %}
    <section>
        <div class="container" data-title="positions-menu">

            <h2 class="material-heading">Użytkownik {{ username }} został usunięty!</h2>

        </div>
    </section>
{% endblock %}